.jcc {
  display: flex;
  justify-content: center;
}

.show__countries {
  cursor: pointer;
}
.inner__countries {
  background: #ffffff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  width: auto;
  margin: auto;
  top: calc(100vh / 2);
  position: absolute;
  left: calc(50% - 285px / 2);
  right: calc(50% - 285px / 2);
  z-index: 10;
  background-color: #fff;
  max-width: 300px;
  height: auto;
  overflow-wrap: break-word !important;
  max-height: 500px;
  overflow-y: scroll;
}

ul {
  margin: 0;
  padding: 0;
}

.inner__countries ul li {
  list-style: none;
  text-align: left;
  padding: 15px 15px;
}

.table__container {
  min-height: calc(100vh - 118px);
}

.details-text {
  cursor: pointer;
}

.background-shadow {
  backdrop-filter: blur(10px);
}
